@import "assets/css/header.css";
@import "assets/css/indexAbout.css";
@import "assets/css/indexProjects.css";
@import "assets/css/indexSoftware.css";
@import "assets/css/indexSocial.css";
@import "assets/css/cv.css";

@font-face {
  font-family: 'bebas';
  src: url("assets/fonts/bebas.ttf");
}
@font-face {
  font-family: 'Calvier';
  src: url("assets/fonts/calvier.ttf");
}

body, h1, h2, h3, h4, p, section, ul, li, a, button{
  margin: 0;
  padding: 0;
  font-family: bebas;
}

footer{
  margin-top: 10vh;
  font-size: 20px;
  text-align: center;
}

::-webkit-scrollbar {
    width:0px;
}
.separator{
  height: .2vh;
  background-color: black;
  width: 60vw;
  margin-left: 20px;
  margin-bottom: 20px;
}
.separatorCard{
  height: .1vh;
  background-color: black;
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
}
.separatorSecond{
  height: .1vh;
  background-color: black;
  width: 30%;
  margin-left: 20px;
}

.sectionTitle{
  font-family: calvier;
  font-size: 60px;
  margin-left: 20px;
  margin-top: 30px;
}
.secondSectionTitle{
  font-size: 35px;
  margin-top: 30px;
  margin-left: 20px;
}
