/*#B52F17 text*/
/*#DB875F BG*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
*{
padding: 0;
margin: 0;
}

/* .noScrolling{
  overflow: hidden;
} */
.navbar {
  overflow: hidden;
  background-color: #282c34;
  position: fixed;
  width: 100%;
  height: 10vh;
  z-index: 1;
}
.adminPanelTitle{
  font-size: 2.5em;
  margin-top: 0.7em;
  margin-left: 1em;
  color: #FFFFFF;
}
.sidenav {
  height: 100%;
  width: 15em;
  position: fixed;
  background-color: #282c34;
  overflow-x: hidden;
  padding-top: 8em;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #FFFFFF;
}

#widgetGeneralContainer{
  z-index: -2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* background-color: rgb(221, 103, 118); */
  height: 100vh;
  width: 100%;
}

#widgetProjectContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* background-color: rgb(200, 39, 60); */
  height: 120vh;
  width: 100%;
}

#widgetCvContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* background-color: rgb(168, 78, 89); */
  height: 100vh;
  width: 100%;
}

#widgetExpContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* background-color: rgb(161, 44, 43); */
  height: 50vh;
  width: 100%;
}

.widget-by2{
  margin: 0px 40px 0px 20px;
  width: 40%;
  height: 80vh;
  /* background-color: rgb(72, 254, 146); */
}

.widget-by3{
  margin: 40px 40px 0px 20px;
  width: 40%;
  height: 40vh;
  /* background-color: rgb(72, 254, 146); */
}

.widgetTitle{
  font-family: 'Lato', sans-serif;
  margin: 10px;
}
