@font-face {
  font-family: 'calvier';
  src: url("../fonts/calvier.ttf");
}
@import url('https://fonts.googleapis.com/css?family=Lato');
header{
  height: 60vh;
  width: 100%;
  background-image: url("../images/header/header1.png");
}

.titleContainer{
  color: white;
  position: absolute;
  font-size: 3em;
  margin-left: 8%;
  margin-top: 12%;
}
.boxedHeader{
  font-family: calvier;
  position: relative;
}
.boxedHeader:after{
  content: '';
  position: absolute;
  border-left: 5px solid tomato;
  left: -10px;
  bottom: 0;
  top: 100%;
  transition: .3s;
}
.boxedHeader:hover:after{
  top: 0;
}

#menu{
  z-index: 10;
  list-style-type: none;
  overflow: hidden;
  background-color: #282c34;
  position: sticky;
  top: 0;
}
#menu li{
  float: left;
}
#menu li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
#menu a:hover{
  background-color: #111;
}
.underlinedMenu{
  position: relative;
}
.underlinedMenu:after{
  content: '';
  position: absolute;
  border-bottom: 3px solid tomato;
  bottom: 0;
  left: 0;
  right: 100%;
  transition: .3s;
}
.underlinedMenu:hover:after{
  right: 0;
}
.logoInMenu{
  max-width: 48px;
  max-height: 48px;
  margin-right: 20px;;
}
