#social{
  min-height: 60vh;
  width: 100%;
}
#social h3{
  font-size: 30px;
}
#social p{
  font-size: 25px;
  margin-top: 5px;
  color: #282c34;
}
#social a{
  text-decoration: none;
  color: #000;
}

.mediaContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mediaCard{
  margin: 30px;
  text-align: center;
  height: 30vh;
  width: 15%;
  border: 2px solid #000;
  border-radius: 5px;
}
.mediaCard h1{
  position: relative;
}
.mediaCard h1:after{
  content: '';
  position: absolute;
  border-bottom: 3px solid tomato;
  bottom: 0;
  left: 0;
  right: 100%;
  transition: .3s;
}
.mediaCard h1:hover:after{
  right: 30%;
  left: 30%;
}
.mediaImg{
  max-width: 8em;
  max-height: 8em;
}

.download{
  margin-right: 20px;
}
.downloadButton{
  font-size: 24px;
  border: 2px solid black;
  margin-left: 20px;
}
